<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<p>
  😅 Oops! Something went wrong.
</p>

<p>
  <% if (message) { %>
    <%- message %>
  <% } else { %>
    The server is having a small existential crisis.
  <% } %>
</p>

<p>
  🤖 This was not part of the plan, but here we are.
</p>

<p>
  <a href="/">Go back home</a>
</p>
